.load-icon-active{
    height: 100%;
    width: 100%;
    position: absolute;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left:0;
 
}
.load-icon-desactive{
    display: none;
}

 .load-icon-active svg{
    animation-name: loading;
    animation-iteration-count:infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes loading{
    to{
        transform: rotate(360deg);
    }
    from{
         transform: rotate(0deg);
    }
}